<main>
    <h2>Koszyk</h2>

    <div id="main">
        <span  [ngClass]="{'few': cs.fullReservations < 10, 'many': cs.fullReservations >= 10}">
            Liczba wycieczek:  <div class="r">{{ cs.fullReservations }}</div>
        </span> 
    </div>
    
    <div *ngFor="let reservation of cs.reservations, index as i" class="detail">
        {{ reservation.name }}<br> 
        {{ reservation.seats }} x {{ reservation.price | currency: 'EUR' }}
        <div class="r">
            {{ reservation.seats * reservation.price | currency:'EUR' }}
        </div>
    </div>
    <div id="summary" [ngClass]="{'few': cs.fullReservations < 10, 'many': cs.fullReservations >= 10}" *ngIf="cs.fullReservations > 0">{{ cs.fullPrice | currency:'EUR' }}</div>
    
</main>