<h3>Ocena</h3>
<div>
    <label>
        <input type="checkbox" (change)="change(1)">
        1 gwiazdka
    </label>
    <label>
        <input type="checkbox" (change)="change(2)">
        2 gwiazdki
    </label>
    <label>
        <input type="checkbox" (change)="change(3)">
        3 gwiazdki
    </label>
    <label>
        <input type="checkbox" (change)="change(4)">
        4 gwiazdki
    </label>
    <label>
        <input type="checkbox" (change)="change(5)">
        5 gwiazdek
    </label>
</div>